<%- include('../cabecalho.ejs')%>

    <main class="container">
        <div class="page-header">
            <h2>Lista de Gêneros</h2>
            <a href="/genero/add" class="btn btn-success">+ Novo Gênero</a>
            <form method="post"> </br>
               <div class="form-group">
                <input type="text" name="pesquisar" placeholder="Nome do gênero">
                <input class="btn btn-success" type="submit" value="Buscar">
              </div>
            </form>
        </div>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Excluir</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <% generos.forEach(genero => { %>
                        <tr>
                            <td><%= genero.nome %></td>
                            <td><a href="/genero/del/<%= genero.id %>" class="link">EXCLUIR</a></td>
                            <td><a href="/genero/edt/<%= genero.id %>" class="link">EDITAR</a></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </main>

<%- include('../rodape.ejs')%>
