<%- include('../cabecalho.ejs')%>

    <main class="container">
        <div class="page-header">
            <h2>Lista de Playlists</h2>
            <a href="/playlist/add" class="btn btn-success">+ Nova Playlist</a> 
            <form  method="post"> </br>
                <div class="form-group">
                <input type="text" name="pesquisar" placeholder="Nome da playlist">
                <input class="btn btn-success" type="submit" value="Buscar">
              </div>
            </form>
        </div>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Musica 1</th>
                        <th>Musica 2</th>
                        <th>Musica 3</th>
                        <th>Excluir</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <% playlists.forEach(function(playlist) { %>
                        <tr>
                            <td><%= playlist.nome %></td>
                            <td><%= playlist.musica1 %></td>
                            <td><%= playlist.musica2 %></td>
                            <td><%= playlist.musica3 %></td>
                            <td><a href="/playlist/del/<%= playlist.id %>" class="link">EXCLUIR</a></td>
                            <td><a href="/playlist/edt/<%= playlist.id %>" class="link">EDITAR</a></td>
                        </tr>
                    <% }); %>
                    
                </tbody>
            </table>
        </div>
    </main>

<%- include('../rodape.ejs')%>
