<%- include('../cabecalho.ejs')%>

    <main class="container">
        <div class="page-header">
            <h2>Lista de Músicas</h2>
            <a href="/musica/add" class="btn btn-success">+ Nova Música</a>
            <form method="post"> </br>
               <div class="form-group">
                <input type="text" name="pesquisar" placeholder="titulo da música">
                <input class="btn btn-success" type="submit" value="Buscar">
              </div>
            </form>
        </div>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Duração</th>
                        <th>Artista</th>
                        <th>Ano de Lançamento</th>
                        <th>Excluir</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <% musicas.forEach(musica => { %>
                        <tr>
                            <td><%= musica.titulo %></td>
                            <td><%= musica.duracao %></td>
                            <td><%= musica.artista %></td>
                            <td><%= musica.anoLancamento%></td>
                            <td><a href="/musica/del/<%= musica.id %>" class="link">EXCLUIR</a></td>
                            <td><a href="/musica/edt/<%= musica.id %>" class="link">EDITAR</a></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </main>

<%- include('../rodape.ejs')%>
